fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
motor
python-multipart
pydantic
pydantic[email]
requests
httpx
typing
pymongo
pyjwt
pandas
BeautifulSoup4
apscheduler
gunicorn
python-dotenv
openai